@font-face {
  font-family: "Roboto";
  src: url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Light.woff2?v=2.137) format("woff2"),url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Light.woff?v=2.137) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Roboto";
  src: url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Regular.woff2?v=2.137) format("woff2"),url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Regular.woff?v=2.137) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Roboto";
  src: url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Medium.woff2?v=2.137) format("woff2"),url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Medium.woff?v=2.137) format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "Roboto";
  src: url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Bold.woff2?v=2.137) format("woff2"),url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Bold.woff?v=2.137) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: "Roboto";
  src: url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Black.woff2?v=2.137) format("woff2"),url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Black.woff?v=2.137) format("woff");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: "Roboto";
  src: url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Black.woff2?v=2.137) format("woff2"),url(https://cloudstorage.openocean.finance/static/website/font/Roboto-Black.woff?v=2.137) format("woff");
  font-weight: bold;
  font-style: normal
}